.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  z-index: 1000;
}

.modalContent {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 요소 간 간격 */
  background-color: #dae6f7;
}

.inputField:focus,
.textareaField,
.inputDate:focus {
  outline: none;
}

.label {
  margin-bottom: -0.8%;
}

.inputField,
.textareaField {
  padding: 10px;
  margin: 3px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dateContainer {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.dateLabel1 {
  width: 8%;
}

.dateLabel2 {
  width: 8%;
  margin-left: 8%;
}

.inputDate {
  width: 18%;
  font-size: 15px;
  padding: 10px;
  margin-top: 5px; /* 텍스트와 입력란 간격 */
  border: 1px solid black;
  border-radius: 4px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttons {
  color: white;
  width: 8%;
  background-color: #91b0d9;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.schedule {
  color: white;
  padding: 2px 15px;
}

.schedule {
  margin-bottom: 5px;
}

.titleClass {
  font-size: 16px;
  font-weight: bold;
}

.descriptionClass {
  color: black;
  font-style: italic;
}

.h2 {
  margin-top: -0.1%;
}
