.container {
    display: flex;
    justify-content: center;  /* 좌우 중앙 정렬 */
    width: 70%;
    margin: 0 auto;
    flex: 1;
    background-color: white;
    padding: 10px 30px;
}

.departmentDiv {
    width: 100%;
    align-items: center;
}

.display {
    display: flex;
    justify-content: center;  /* 좌우 중앙 정렬 */
}

.departmentList {
    width: 80%;
}

.departmentDiv ul {
    list-style-type: none;
    padding: 0;
    width: 79.2%;
    text-align: center;
}

.button1 {
    margin-top: 0.1%;
    border: none;
    background-color: #00AAFF;
    color: white;
    font-weight: bold;
}

.button2 {
    margin: 1.4% 0 19% 0.8%;
    border: none;
    background-color: #00AAFF;
    color: white;
    font-weight: bold;
}