.messageList {
    display: flex;
    flex-direction: column;
    /* max-width: 600px; */
    margin: 0 auto; /* 중앙 정렬 */
    /* align-items: center; */
    overflow-y: auto;
    max-height: 82%;
    height: 100%;
    /* background-color: #FFFEE6; */
    background-color: #B0C4DE;
    border-radius: 10px;
    padding: 0 15px;
}

.message {
    max-width: 60%; /* 최대 너비 설정 */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    word-wrap: break-word; /* 긴 단어 줄 바꿈 */
}

.sent {
    align-self: flex-end; /* 오른쪽 정렬 */
    background-color: white; /* 보낸 메시지 색상 */
}

.received {
    align-self: flex-start; /* 왼쪽 정렬 */
    /* background-color: #F4ED6E; */
    background-color: #f5f5f5;
}
.textarea {
    width: 87%;
    margin: 0 10px 0 0; /* 오른쪽 마진만 주기 */
    padding: 10px; /* 패딩 */
    /* border: 1px solid black; */
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
    resize: none; /* 크기 조정 비활성화 */
    outline: none; /* 선택 시 보더 제거 */
    overflow-y: auto; /* 세로 스크롤이 필요할 때만 표시 */
    height: 40px; /* 높이 설정 */
    background-color: #f5f5f5;
}

.sendBtn {
    background-color: #B0C4DE;
    color: white; /* 글자색 */
    border: none; /* 기본 테두리 제거 */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px 20px; /* 패딩 */
    cursor: pointer; /* 마우스 커서 변경 */
    transition: background-color 0.3s; /* 호버 시 부드러운 전환 효과 */
    font-weight: bold;
    height: 33px; /* 높이 설정 */
    align-items: center;
    display: flex;
}
.textSend {
    position: absolute; /* 절대 위치 */
    bottom: 20px; /* 푸터와의 간격 조정 */
    left: 0;
    right: 0; /* 양쪽 끝으로 확장 */
    display: flex;
    justify-content: space-between; /* 요소 간의 간격을 조정 */
    padding: 5px; /* 패딩 추가 */
    background-color: white; /* 배경색 설정 */
    border-radius: 10px;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}
.chatRoomId {
    font-weight: bold;
    margin-bottom: 2px;
}