.container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex: 1; /* 공간을 차지하도록 설정 */
    background-color: white;
    padding: 10px 30px;
}

.chatList {
    width: 20%;
    align-items: center;
}

.chat {
    width: 100%;
    text-align: center;
    margin: 0 0 0 10%;
    position: relative;
    flex: 1;
}

.login {
    width: 10%;
}

.chat {
    width: 100%;
    text-align: center;
    margin: 0 0 0 10%;
}

.textSend {
    display: flex;
    justify-content: space-between; /* 요소 간의 간격을 조정 */
    margin: 10px 0; /* 위 아래 마진 추가 */
    padding: 10px; /* 패딩 추가 */
}

.textarea {
    width: 80%; /* 너비 조정 */
    margin-right: 10px; /* 오른쪽 마진 */
}

.sendBtn {
    background-color: yellow; /* 원하는 배경색 */
    color: black; /* 글자색 */
    border: none; /* 기본 테두리 제거 */
    padding: 10px 20px; /* 패딩 */
    cursor: pointer; /* 마우스 커서 변경 */
    height: 40px; /* 높이 설정 */
}

.chatFont {
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}